@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html {
  @apply h-full;
}
body {
  @apply h-full;
  font-family: "Raleway", sans-serif;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}


.avatar-animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* HAMBURGER  AND MENU STYLE */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 4rem;
  height: 40px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 30px;
  right: 0;
}


@media screen and (max-width: 500px) {
  .bm-burger-button {
    width: 3rem;
    height: 30px;
    right: 5px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #173342;
  height: 3px !important;
  border-radius: 30px;
  transition-timing-function: ease-out;
  transition-duration: 700ms;
}

.bm-burger-bars-hover {
  opacity:1 !important;
  transform: scale(1.10) !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 4rem !important;
  width: 4rem !important;
  right: 5.7rem !important;
  top: 3.5rem !important;
}
@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .bm-cross-button {
    top: 2rem !important;
    right: 3rem !important;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #4b7788;
  width: 4px !important;
  height: 4rem !important;
  outline: none;
  border-radius:30px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  background: none;
  background: #173342;

}

/* General sidebar styles
.bm-menu {
  /* background: #173342; */
  /* padding: 0px; */
  /* font-size: 1.15em; */
/* } */ 

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: #4b7788;
  padding: 0.8em;
  display: flex;
  align-items: center;
  padding-top: 3.5rem;
  flex-direction: column;
}

/* Styling of overlay to avoid extra background*/
.bm-overlay {
  background: none !important;
}


/* Project page   TODO:Pending remove */
/* .container-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  transition: background 1s ease-in-out;
} */


/* .title-projects {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #22424c;
  font-weight: bold;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease;
}
.button-projects {
  position: absolute;
  width: 300px;
  left: 12%;
  top: 120px;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s ease;
}
.button-projects a {
  font-size: 12px;
  width: 200px;
  padding: 8px 40px;
  text-align: center;
  color: #173342;
  border: solid 1px #173342;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  transition: all 1s ease;
}
.button-projects a:hover {
  -moz-box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
}
.container-overlay:hover .button-projects,
.container-overlay:hover .title-projects {
  opacity: 1;
}

ul.pagination-container li a {
  border-radius: 100%;
  background-color: #4b7788;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 800ms ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif;
}

ul.pagination-container li.selected a,
ul.pagination-container li a:hover {
  background: #22424c;
  cursor: pointer;
}

ul.pagination-container li.disabled a,
ul.pagination-container li.disabled a:hover {
  cursor: default;
  background: #4b7788;
  opacity: 0.3;
} */

/* .projects-container,
.pagination-container,
.about-container {
  animation: opacityCmpNoData 0.7s ease;
}

@keyframes opacityCmpNoData {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 0.25;
  }
  50% {
      opacity: 0.5;
  }
  75% {
      opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
}

.logo-404-page {
  animation: floating 4s infinite ease-in-out;
}

@keyframes floating {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-20px);
  }
  100% {
      transform: translatey(0px);
  }
} */
