@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  font-family: "Raleway", sans-serif;
}



.avatar-animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* HAMBURGER  AND MENU STYLE */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 4rem;
  height: 40px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 30px;
  right: 0;
}


@media screen and (max-width: 500px) {
  .bm-burger-button {
    width: 3rem;
    height: 30px;
    right: 5px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #173342;
  height: 3px !important;
  border-radius: 30px;
  transition-timing-function: ease-out;
  transition-duration: 700ms;
}

.bm-burger-bars-hover {
  opacity:1 !important;
  transform: scale(1.10) !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 4rem !important;
  width: 5rem !important;
  right: 5.7rem !important;
  top: 2rem !important;
}
button#react-burger-cross-btn {
  left: 22px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .bm-cross-button {
    top: 2rem !important;
    right: 3rem !important;
  }
}

@media only screen and (max-width: 280px) {
  .avatar-circle {
    width: 17rem;
    height: 17rem;
  }
}
/* Color/shape of close button cross */
.bm-cross {
  background: #4b7788;
  width: 4px !important;
  height: 4rem !important;
  outline: none;
  border-radius:30px !important;
}


/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed !important;
  top: 0;
  background: none;
  background: #173342;
  height: 100vh !important;
  max-height: 100vh;
}

/* General sidebar styles
.bm-menu {
  /* background: #173342; */
  /* padding: 0px; */
  /* font-size: 1.15em; */
/* } */ 

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: #4b7788;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto !important;
}

/* Styling of overlay to avoid extra background*/
.bm-overlay {
  background: none !important;
}

.button-projects:hover {
  -moz-box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(75, 119, 136, 0.5);
}


#style-2 {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#style-2::before,
#style-2::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
#style-2::before {
  background-color: #F9F871;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
#style-2::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #F9F871;
}

#style-2:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#style-2:hover::after {
  transform: translate3d(0, 0, 0);
}

#style-2 span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#style-2:hover span {
  transform: translate3d(-200%, 0, 0);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F9F871;
  opacity: 1;
}
span.swiper-pagination-bullet {
  background: #F9F871;
  opacity: 0.40;
}

/* ul.pagination-container li a {
  border-radius: 100%;
  background-color: #4b7788;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 800ms ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif;
}

ul.pagination-container li.selected a,
ul.pagination-container li a:hover {
  background: #22424c;
  cursor: pointer;
}

ul.pagination-container li.disabled a,
ul.pagination-container li.disabled a:hover {
  cursor: default;
  background: #4b7788;
  opacity: 0.3;
}  */

/* .projects-container,
.pagination-container,
.about-container {
  animation: opacityCmpNoData 0.7s ease;
}

@keyframes opacityCmpNoData {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 0.25;
  }
  50% {
      opacity: 0.5;
  }
  75% {
      opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
}
*/
.logo-404-page {
  animation: floating 4s infinite ease-in-out;
}
.no-page-found {
  text-shadow: 2px 2px 4px #000000;
}

@keyframes floating {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-20px);
  }
  100% {
      transform: translatey(0px);
  }
} 
